.navbar {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	background-color: #1d1d1f;
	align-items: center;
}

.navbar__logo {
	color: white;
	margin: 0;
}

.navbar__logo > a > img {
	width: 74px;
}

.navbar__icons > ul {
	display: flex;
	list-style: none;

	margin: 0;
	padding: 0;
}

.navbar__icons > ul > li {
	/* padding: 10px; */
	color: white;
	cursor: pointer;
	justify-content: space-between;
	margin-right: 10px;
}

.navbar__icons > ul > a {
	margin-right: 10px;
}
